@page "/addcard"
@using System.Net.Http
@using Ametista.Api.Model
@inject HttpClient Http

<EditForm Model="@newCard" OnValidSubmit="@SaveItem">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="Number" @bind-Value="@newCard.Number" />
    <InputText id="CardHolder" @bind-Value="@newCard.CardHolder" />
    <InputDate id="ExpirationDate" @bind-Value="@newCard.ExpirationDate" />

    <button type="submit">Create New</button>
</EditForm>

@code {
    private CreateCardRequest newCard = new CreateCardRequest();

    private async Task SaveItem() =>
        await Http.PutJsonAsync($"api/card/", newCard);
}